body {
    background-image: url(../img/fondo2.jpg);
    background-size: cover;
    margin: 0; 
    padding: 0;
}


.contenedor {
    display: flex;
    height: 100vh; 
    justify-content: center; 
}

.contenedor1, .contenedor2 {
    flex: 1; 
    margin: 20px; 
    box-sizing: border-box; 
}

.contenedor1{
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.contenedor2 {
    border: solid 1px white;
    border-radius: 50px;
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: space-between; 
    height: auto; 
    padding: 20px; 
}

.arriba {
    margin-bottom: auto;
}

.abajo {
    margin-top: auto; 
}

.arriba h2 {
    margin: 0; 
}

.contenedor1 h1{
    font-size: 40px;
    color: white;
}

.contenedor1 p{
    font-size: 40px;
    color: white;
}

.contenedor2 button {
    font-size: 18px; 
    padding: 10px 20px; 
    margin: 20px;
    border: none; 
    border-radius: 5px; 
    background-color: rgb(41, 40, 40); 
    color: white; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}

.contenedor2 button:hover {
    background-color: #45a049;
}

.contenedor2 h2 {
    margin-top: 0px;
    color: white;
    margin: 10px; 
    text-align: left;
}

.formulario {
    display: flex;
    align-items: center;
    width: 100vh; 
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

.formulario input {
    flex: 1;
    padding: 10px;
    border: none;
    font-size: 16px;
    outline: none;
    background-color: transparent;
    border-radius: 50px !important;  
}

.formulario button {
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: #45a049;
    color: white;
}

.formulario button:nth-child(2) {
    background-color: #ff6347;
}

.formulario button:hover {
    background-color: #4CAF50;
}

